/* CSS Stylesheet */

/* Universal Properties */
* {
    background-color: #ffe3d5;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    height: 350px;
    width: 500px;
}

h2 {
    background-color: #a7635a;
}

/* Homepage Styles */
.center,
.recipes,
h1 {
    text-align: center;
}

.chef-img {
    height: 395px;
}

button {
    font-size: large;
}