/* CSS Stylesheet */

/* Universal Properties */
* {
    background-color: #ffe3d5;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    height: 350px;
    width: 500px;
}

/* Homepage Styles */
.header,
.img,
.recipes {
    text-align: center;
}

.chef-img {
    height: 395px;
}

button {
    font-size: large;
}

/* Noodle Recipe Page Styles */
/* Rendang Recipe Page Styles */
/* Satay Recipe Page Styles */